extends layout

block content
    main
        .links
            .all
                a(href="/edit-config/model", class="link")
                    .link__name model
                a(href="/edit-config/sensor", class="link")
                    .link__name sensor
