extends layout

block content
  main
    .links
        for sensor in sensors
          a(href='/temp?id=' + sensor.name, title=sensor.name, class="link")
            .link__name
              =sensor.name
            .link__model
              =sensor.model.name 