* {
    box-sizing: border-box
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white
}

a {
    color: white
}