form {
    display: flex;
    margin: 20px;
    height: auto;
    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        .form_group {
            text-transform: capitalize;
            & :first-child {
                margin-top: 10px;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px 10px 10px;
            label {
                font-weight: 700;
            }
            input {
                padding: 3px;
            }
            &.button_input {
                & :first-child {
                    margin-bottom: 10px;
                }
                button {
                    text-transform: uppercase;
                    width: 100%;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
}