* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #6a9955;
    background-color: #333333;
    font-family: sans-serif;
}

h1 {
    text-transform: capitalize;
}

a {
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    border: 1px solid #6a9955;
    background-color: #333333;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: black;
    border: 1px solid #6a9955;
    background-color: #6a9955;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

form {
    width: 35%;
    min-width: 300px;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    color: #6a9955;
    border: 1px solid #575757;
}

legend {
    margin-left: 15px;
}

.location-sensor,
.ssid,
.password,
.button {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

.location-sensor input,
.ssid input,
.password input {
    background-color: #575757;
    border: none;
    color: white;
    border-radius: 5px;
    height: 35px;
    padding: 6px;
    font-size: 1.07rem;
}

label {
    font-weight: 200;
    text-transform: uppercase;
}

button {
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    border: 1px solid #6a9955;
    background-color: #333333;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    color: black;
    border: 1px solid #6a9955;
    background-color: #6a9955;
}